/* akun-hero */
#akun-hero {
    margin-top: 80px;
}

#akun-hero .content {
    background-color: #F8EDEC;
}

#akun-hero .container .col-md-6 {
    padding: 0;
}

#akun-hero .text-atas .text-satu {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 400;
    color: #000;
}

#akun-hero .text-atas .text-dua {
    width: 380px;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 700;
}

#akun-hero .text-atas .text-tiga {
    font-size: 10px;
    font-weight: 400;
}

#akun-hero .text-atas .text-tiga a {
    text-decoration: none;
    color: #C1132F;
    font-size: 10px;
    font-weight: 600;
    margin-left: 2px;
}

#akun-hero .card {
    background-color: #C1132F;
    background-size: cover;
}

#akun-hero .card img {
    border: 1px solid #fff;
    width: 150px;
    height: 150px;
}

@media screen and (max-width: 600px) {
    #akun-hero .card img {
        border: 1px solid #fff;
        width: 100px;
        height: 100px;
    }
}

#akun-hero .card .text-profil h3 {
    color: #fff;
    font-weight: 500;
}

#akun-hero .card .text-profil p {
    color: #fff;
    font-weight: 400;
}

#akun-hero .card a {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
}

/* end akun-hero */

/* akun-menu */
#akun-menu .content {
    background-color: #F8EDEC;
    padding-bottom: 55vh;
}

#akun-menu .container .col-md-6 {
    padding: 0;
}

#akun-menu a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    color: #000;
}

/* end akun-menu */

/* daftar */
#daftar .container {
    margin-top: 80px;
}

#daftar .container .col-md-6 {
    padding: 0;
}

#daftar .content {
    background-color: #F8EDEC;
    color: #000;
    height: 90vh;
}

#daftar .form-label {
    font-size: 15px;
    font-weight: 700;
    color: #C1132F;

}

#daftar .form-control {
    background: none;
    border: none;
    border-bottom: 2px solid #B9B9BF;
    border-radius: 0;
}

#daftar .btn {
    width: 295px;
    height: 46px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 20px;
}

#daftar p {
    font-size: 10px;
    font-weight: 400;
}

#daftar p a {
    text-decoration: none;
    font-size: 10px;
    font-weight: 700;
    color: #C1132F;
    margin-left: 2px;
}

/* end daftar */

/* edit */
#edit .container {
    margin-top: 80px;
}

#edit .container .col-md-6 {
    padding: 0;
}

#edit .content {
    background-color: #F8EDEC;
    color: #000;
    height: 90vh;
}

@media screen and (max-width: 600px) {
    #edit .content {
        background-color: #F8EDEC;
        color: #000;
        height: 110vh;
    }
}

#edit .form-label {
    font-size: 15px;
    font-weight: 700;
    color: #C1132F;

}

#edit .form-control {
    background: none;
    border: none;
    border-bottom: 2px solid #B9B9BF;
    border-radius: 0;
}

#edit .btn {
    width: 295px;
    height: 46px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 20px;
}

#edit p {
    font-size: 10px;
    font-weight: 400;
}

#edit p a {
    text-decoration: none;
    font-size: 10px;
    font-weight: 700;
    color: #C1132F;
    margin-left: 2px;
}
/* end edit */

/* masuk */
#masuk .container {
    margin-top: 80px;
}

#masuk .container .col-md-6 {
    padding: 0;
}

#masuk .content {
    background-color: #F8EDEC;
    color: #000;
    height: 90vh;
}

#masuk .form-label {
    font-size: 15px;
    font-weight: 700;
    color: #C1132F;
}

#masuk .form-control {
    background: none;
    border: none;
    border-bottom: 2px solid #B9B9BF;
    border-radius: 0;
}

#masuk .btn {
    width: 295px;
    height: 46px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 20px;
}

#masuk p {
    font-size: 10px;
    font-weight: 400;
}

#masuk p a {
    text-decoration: none;
    font-size: 10px;
    font-weight: 700;
    color: #C1132F;
    margin-left: 2px;
}
/* end masuk */

/* tentang-kami */

#tentang-kami .container {
    margin-top: 80px;
}

#tentang-kami .container .col-md-6{
    padding: 0;
}

#tentang-kami .content{
    background-color: #F8EDEC;
    color: #000;
    padding-bottom: 10vh;
}

#tentang-kami .text-deskripsi {
    font-size: 16px;
    font-weight: 400;
    text-align: justify;

}

#tentang-kami .text-tim {
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    color: #C1132F;
    margin-top: 40px;
    margin-bottom: 30px;
}

#tentang-kami .text-jabatan {
    font-size: 22px;
    font-weight: 700;
}

#tentang-kami .text-nama {
    font-size: 15px;
    font-weight: 500;
    color: #C1132F;
}

#tentang-kami .sosial-media a {
    text-decoration: none;
    background-color: #C1132F;
    border: 8px solid #C1132F;
    border-radius: 50%;
}

#tentang-kami .sosial-media svg {
    color: #fff;
}

#tentang-kami .text-copyright {
    font-size: 14px;
    font-weight: 400;
    color: #5E5757;
    ;
}

/* end tentang-kami */

/* riwayat pembayaran */
#riwayat-pembayaran .content {
    background-color: #F8EDEC;
    color: #000;
}
/* end riwayat pembayaran */
